

  .slider-labels {
    margin-top: 10px;
  }
  
  /* STYLING */
  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  /* background color of slider */
  .noUi-base {
    background: #D6D7D9;
  }
  
  /* styling of overall slider */
  .noUi-horizontal {
    height: 8px; 
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    
  }
  
  .noUi-vertical {
    width: 8px; 
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    
  }

  .noUi-origin {
    border-radius: 4px;
  }
  
  /* border radius of slider ends*/
  .noUi-target {
    border-radius: 4px;
  }
  
  /* the handle/thumb */
  .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
    border-radius: 50%;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    background-color: white;
  }

  .noUi-horizontal .noUi-handle {
    width: 12px;
    height: 12px;
    right: -12px!important;
    top: -4px;
  }

  .noUi-vertical .noUi-handle {
    width: 12px;
    height: 12px;
    top: -12px!important;
    left: -4px;
  }

  .noUi-handle:active {
    border: 4px solid #345DBB;
    border: 4px solid rgba(53,93,187,0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    
  }
  .noUi-horizontal .noUi-handle:active {
    left: 2px;
    top: -6px;
  }
  .noUi-vertical .noUi-handle:active {
    left: -8px;
  }
  /* adjust highlighted thumb position */
  .noUi-horizontal .noUi-active{
    margin-right:-2px;
  }
  .noUi-vertical .noUi-active{
    margin-top:-3px;
  }
  .noUi-handle {
    
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  .noUi-draggable {
    cursor: w-resize;
  }
  
  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  .noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  /* kill the vertical lines on thumb */
  .noUi-base .noUi-handle::after {
    display: none;
  }
  .noUi-base .noUi-handle::before {
    display: none;
  }
  
  /* connect color */
  .noUi-connect { 
    background: #818a91;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }
  
  /* Disabled state;
   */
  [disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
  }
  
  [disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
  }
  
  
  